.ReactModal__Content {
  width: 335px;
  height: 788px;
  overflow: unset !important;
  padding: 48px 16px !important;

  @media screen and (min-width: 768px) {
    width: 694px;
    height: 550px;
    padding: 48px 32px !important;
  }
}

.fElkev{
    @media screen and (min-width: 768px) {
        right: 316px
      }
    
}
.ReactModal__Body--open {
    overflow: hidden;
}