/* @import-normalize; bring in normalize.css styles */
@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  /*base colors*/
  --black-color: #040404;
  --orange-color: #e6533c;
  --light-orange-color: #ef8964;
  --beige-color: #efa082;
  --white-color: #efede8;

  /*success/error colors*/
  --success-color: #3cbf61;
  --error-color: #d80027;
}

body {
  /* background-color: var(--black-color); */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
